/*STYLESHEET*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


section {
    display: grid;
    place-items: center;
    border: 1px solid #eeeeee;
}

.section_one {
    height: 100vh;
    background-color: #3499dd;
}

.signup h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.signup {
    max-width: 420px;
    background-color: white;
    color: black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-block: 40px;
    gap: 1.25rem;
}

.signup input {
    padding-block: 10px;
    padding-inline: 8px;
    background-color: #f2f2f2;
    border: 0;
}

.name-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.name-wrapper input {
    padding-inline-end: 0;
}

.signup input[type=password],
.signup input[type=email],
.wrapper {
    width: 100%;
}

.signup button {
    border: 0;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    background-color: #3499dd;
    max-width: 100px;
    width: 100%;
    padding: 8px;
}

.wrapper span {
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}

.wrapper hr {
    border: 0;
    background-color: #f2f2f2;
    height: 1px;
}

.signup a {
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
	.signup {max-width: 320px;}
    .signup input {width: 65%; font-size: 0.75rem;}

}

.section_two {
    background-color: #f3f1ef;
    height: 100vh;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 980px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

.contact-us header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031234;
    font-size: 10px;
    padding: 20px;
    color: white;
    align-self: stretch;
}

.contact-us header a {
    color: white;
    text-decoration: none;
    margin-inline-end: 5px;
}

.contact-us h1 {
    font-weight: bolder;
    font-size: 35px;
    color: #031234;
    margin-bottom: 0;
}

.heading-wrapper {
    font-size: 14px;
}

.contact-us form {
    max-width: 540px;
    width: 100%;
    padding-inline: 20px;
}

.contact-us form label {
    display: block;
    font-size: 14px;
    text-align: left;
}

.contact-us form input {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
}

footer {
    background-color: #efe0ca;
    align-self: stretch;
    padding:10px;
}